.container{
    padding-top:7rem ;
    padding-left: 4rem;
    padding-right:4rem;
    padding-bottom: 4rem;
}

.upper-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}

.cards-genre {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5rem;
    row-gap: 40px;
    padding-top: 1rem;
    padding-left:2rem;
    padding-right:2rem;
 }